<div class="margin_8">
    <label>Delivery Challan Details</label>
    <button (click)="showChallanDetails();">ADD NEW</button>
</div>

<div class="example-container mat-elevation-z8">

    <mat-card style="padding:5px">
        <mat-form-field style="width:40%">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>

        <mat-table #table [dataSource]="dataSource">
            <!-- Challan Date Column -->
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                <mat-cell *matCellDef="let challan"> {{challan.chal_date}} </mat-cell>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="chal_no">
                <mat-header-cell *matHeaderCellDef> Challan No </mat-header-cell>
                <mat-cell *matCellDef="let challan"> {{challan.chal_no}} </mat-cell>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Customer Name </mat-header-cell>
                <mat-cell *matCellDef="let challan"> {{challan.chal_cust_name}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
                <mat-cell *matCellDef="let challan"> {{challan.chal_cust_address}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="material">
                <mat-header-cell *matHeaderCellDef> Material Type </mat-header-cell>
                <mat-cell *matCellDef="let challan"> {{challan.chal_prod_name}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="quantity">
                <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
                <mat-cell *matCellDef="let challan"> {{challan.chal_quantity}} </mat-cell>
            </ng-container>

            <!-- Is Invoice created Column -->
            <ng-container matColumnDef="invoice_created">
                <mat-header-cell *matHeaderCellDef> Invoice Created </mat-header-cell>
                <mat-cell *matCellDef="let chalan"> {{chalan.chal_is_invoice_created}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showChallanDetails(row)"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSize]="15" [pageSizeOptions]="[10,15]" [showFirstLastButtons]="true">
        </mat-paginator>
    </mat-card>
</div>