<div class="margin_8">
    <label>Invoice Details</label>
    <button (click)="showInvoiceDetails();">ADD NEW</button>
    <input type="checkbox" [checked]="isWithoutTax" [(ngModel)]="isChecked" (change)="showInvoices(isChecked);" style="padding-left: 12px;">Without Tax
</div>

<div class="example-container mat-elevation-z8">
    <mat-card style="padding:5px">
        <mat-form-field style="width:40%">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>

        <mat-table #table [dataSource]="dataSource">
            <!-- Date Column -->
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                <mat-cell *matCellDef="let invoice"> {{invoice.inv_date}} </mat-cell>
            </ng-container>

            <!-- Customer Column -->
            <ng-container matColumnDef="invoice_no">
                <mat-header-cell *matHeaderCellDef> Invoice No. </mat-header-cell>
                <mat-cell *matCellDef="let invoice"> {{invoice.inv_number}} </mat-cell>
            </ng-container>

            <!-- Customer Column -->
            <ng-container matColumnDef="customer">
                <mat-header-cell *matHeaderCellDef> Customer </mat-header-cell>
                <mat-cell *matCellDef="let invoice"> {{invoice.inv_customer}} </mat-cell>
            </ng-container>

            <!-- Contact Person Column -->
            <ng-container matColumnDef="contact_detail">
                <mat-header-cell *matHeaderCellDef> Contact Detail </mat-header-cell>
                <mat-cell *matCellDef="let invoice"> {{invoice.inv_contact_person}} - {{invoice.inv_contact}} </mat-cell>
            </ng-container>

            <!-- Contact Column -->
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let invoice"> {{invoice.inv_email}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showInvoiceDetails(row)"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSize]="15" [pageSizeOptions]="[10,15]" [showFirstLastButtons]="true">
        </mat-paginator>
    </mat-card>
</div>