<mat-card class="card-css">
    <mat-card-header>
        <mat-card-title>
            <h2>Card Detail</h2>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content class="container-css">

        <div align="right" style="height: 32px;">
            <img (click)="addNewCardDetail();" [src]="this.addImagePath" *ngIf="isFieldDisabled">
        </div>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Date" [(ngModel)]="cardDate" [disabled]="isFieldDisabled">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-select [(ngModel)]="vehicleNumber" placeholder="Vehicle Number" [disabled]="isFieldDisabled" maxlength="10" required>
                <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle.veh_number" (click)="setVehicleDetail(vehicle);">
                    {{vehicle.veh_number}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" [(ngModel)]="rtoPuneAmount" placeholder="Pune RTO" [disabled]="isFieldDisabled" maxlength="8">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" [(ngModel)]="rtoPCMCAmount" placeholder="PCMC RTO" [disabled]="isFieldDisabled" maxlength="8">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" [(ngModel)]="policeShirvalAmount" placeholder="Shirval Police" [disabled]="isFieldDisabled" maxlength="8" />
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" [(ngModel)]="policeChakanAmount" placeholder="Chakan Police" [disabled]="isFieldDisabled" maxlength="8">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" [(ngModel)]="policeOtherAmount" placeholder="Other Police" [disabled]="isFieldDisabled" maxlength="8">
        </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addCardDetail();">{{buttonLabel}}</button>
        <button mat-raised-button color="primary" (click)="cancelClicked();" [disabled]="isCancelDisabled">CANCEL</button>
        <button mat-raised-button color="primary" (click)="deleteCardDetail();" [disabled]="isDeleteDisabled">DELETE</button>
    </mat-card-actions>
</mat-card>