<mat-card class="inner-card-css">
  <mat-card-header>
    <mat-card-title>
      <h2>Purchase Detail</h2>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="container-css">
    <table style="width:100%">
      <thead>
        <tr fxLayout>
          <th style="text-align: left" fxFlex="10%">No.</th>
          <th style="text-align: left" fxFlex="20%">Name</th>
          <th style="text-align: left" fxFlex="10%">Contact No.</th>
          <th style="text-align: left" fxFlex="20%">Email</th>
          <th style="text-align: left" fxFlex="40%">Address</th>
        </tr>
      </thead>
      <tbody>
        <tr fxLayout *ngFor="let vendor of vendors | async;let i=index" (click)="showDetails(vendor)">
          <td style="padding: 12px" fxFlex="10%">{{i+1}}</td>
          <td style="padding: 12px"fxFlex="20%" class="input-css">{{vendor.vend_name}}</td>
          <td style="padding: 12px" fxFlex="10%" class="input-css">{{vendor.vend_contact}}</td>
          <td style="padding: 12px" fxFlex="20%" class="input-css">{{vendor.vend_email}}</td>
          <td style="padding: 12px" fxFlex="40%" class="input-css">{{vendor.vend_address}}</td>
          <mat-divider></mat-divider>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

