<div align="right" style="margin-top:20%">
<mat-card class="card-css" >
    <mat-card-header>
        <mat-card-title>
            <h2>LOG IN</h2>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content class="container-css">

        <mat-form-field>
            <input matInput [(ngModel)]="userName" placeholder="User Name" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput [(ngModel)]="password" type='password' placeholder="Password" required>
        </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="logIn();">LOGIN</button>
    </mat-card-actions>
</mat-card>
</div>
<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyDxFI0VHgcwp_i64_2rdQK9NCd3cgJWlLo",
        authDomain: "shubhament8412.firebaseapp.com",
        databaseURL: "https://shubhament8412.firebaseio.com",
        projectId: "shubhament8412",
        storageBucket: "shubhament8412.appspot.com",
        messagingSenderId: "927303350248"
    };
    firebase.initializeApp(config);
</script>