<style>
    table,
    th,
    td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 2px;
    }
</style>

<mat-card class="card-css">
    <mat-card-header>
        <mat-card-title>
            <h2 align="right">Tax Invoice</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div id="print-section">
            <div class="container-css">
                <label>
          <b>M/S:</b> {{this.customerName}}</label>
                <label align="right">
          <b>Date:</b> {{this.invoiceDate}}</label>
            </div>

            <div class="container-css">
                <label>{{this.customerAddress}}</label>
                <label align="right">
          <b>Invoice Number:</b> {{this.invoiceNo}}</label>
            </div>
            <mat-card style="height:400px">

                <table style="width:100%;">
                    <thead>
                        <tr>
                            <th class="input-css">Sr. No.</th>
                            <th class="input-css">Material</th>
                            <th class="input-css">HSN Code</th>
                            <th class="input-css">Unit</th>
                            <th class="input-css">Msr. Total</th>
                            <th class="input-css">Rate</th>
                            <th class="input-css">Amount In Rs.</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products;let i=index">
                            <td class="input-css">{{i+1}}</td>
                            <td class="input-css">{{product.prod_name}}</td>
                            <td class="input-css">{{product.prod_hsn}}</td>
                            <td class="input-css">{{product.prod_unit}}</td>
                            <td class="input-css">{{product.prod_qty}}</td>
                            <td class="input-css">{{product.prod_rate}}</td>
                            <td class="input-css">{{product.prod_sub_total}}</td>
                        </tr>
                    </tbody>
                </table>
            </mat-card>

            <div class="container-css">
                <label>
          <b>Bill Period From:</b> 15 Mar 2018 To: 30 Mar 2018</label>
                <div class="container-vertical-css">
                    <label align="right">
            <b>Total: </b>{{this.invoiceTotal}}</label>
                </div>
            </div>

            <div class="container-css">
                <table>
                    <thead>
                        <tr>
                            <th rowspan="2">Taxable Amount</th>
                            <th colspan="2">Central Tax</th>
                            <th colspan="2">State Tax</th>
                        </tr>
                        <tr>
                            <td>Rate</td>
                            <td>Amount</td>
                            <td>Rate</td>
                            <td>Amount</td>
                        </tr>
                        <tr>
                            <td>{{this.invoiceTotalAmount}}</td>
                            <td>2.50%</td>
                            <td>{{taxAmount/2}}</td>
                            <td>2.50%</td>
                            <td>{{taxAmount/2}}</td>
                        </tr>
                    </thead>
                </table>
                <div class="container-vertical-css">
                    <label align="right">
            <b>CGST(2.5%): </b>{{this.taxAmount/2}}</label>
                    <label align="right">
            <b>SGST(2.5%): </b>{{this.taxAmount/2}}</label>
                    <label align="right">
            <b>Net Total: </b>{{this.invoiceTotalAmount}}</label>
                    <label align="right">
              <b>Round-Off Amount:</b>0.00</label>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div style="padding:16px">
                <label>
          <b>Amount In Words:</b>Rupees Seventy Nine Thousand Three Hundred Eighty Only</label>
            </div>
            <mat-divider></mat-divider>
            <label class="input-css">
        <b>GST No.:</b>27ABNFS5898QIZQ</label>
            <br/>
            <div>
                <p>We declare that this invoice shows the actual price of the goods described and all particulars are true and correct.</p>
                <label align="center">
          <b>Checked By:</b>
        </label>
                <br/>
                <label align="center">
          For<br/>
          <br/>
          <b>Shubham Enterprises:</b>
        </label>
            </div>
            <mat-divider></mat-divider>

            <div class="container-vertical-css">
                <label class="input-css">
          <b>Note:</b>
        </label>
                <label>1. Payment must be made by Account Payee Cheque/DD only.</label><br/>
                <label>2. Interest @24% will be charge after credit limit.</label><br/>
                <label>3. Measurement and Rate cannot be changed.</label><br/>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="back()">BACK</button>
        <button mat-raised-button color="primary" (click)="printInvoice()">PRINT</button>
    </mat-card-actions>
</mat-card>