.container-css {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-vertical-css {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-css>* {
    width: 100%;
}

.card-css {
    max-width: 70%;
}

.inner-card-css {
    max-width: 96%;
}

.input-css {
    padding: 8px;
    /* font-family: sans-serif;
    font-size: 0.6em; */
}