.container-css {
    display: flex;
    flex-direction: row;
}

.container-vertical-css {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.container-css>* {
    width: 100%;
}

.card-css {
    max-width: 70%;
}

.inner-card-css {
    max-width: 96%;
}

.input-css {
    padding: 12px;
}