<div class="margin_8">
    <label>Customer Details</label>
    <button (click)="showCustomerDetails();">ADD NEW</button>
</div>

<div>
    <mat-card style="padding:5px">
        <mat-form-field style="width:40%">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>

        <mat-table #table [dataSource]="dataSource">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let customer"> {{customer.cust_name}} </mat-cell>
            </ng-container>

            <!-- Contact Person Column -->
            <ng-container matColumnDef="contact_person">
                <mat-header-cell *matHeaderCellDef> Contact Person </mat-header-cell>
                <mat-cell *matCellDef="let customer"> {{customer.cust_contact_person}} </mat-cell>
            </ng-container>

            <!-- Contact Column -->
            <ng-container matColumnDef="contact">
                <mat-header-cell *matHeaderCellDef> Contact No. </mat-header-cell>
                <mat-cell *matCellDef="let customer"> {{customer.cust_contact}} </mat-cell>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
                <mat-cell *matCellDef="let customer"> {{customer.cust_address}} </mat-cell>
            </ng-container>

            <!-- GST Number Column -->
            <ng-container matColumnDef="gst">
                <mat-header-cell *matHeaderCellDef> GST No. </mat-header-cell>
                <mat-cell *matCellDef="let customer"> {{customer.cust_gst_no}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showCustomerDetails(row)"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSize]="15" [pageSizeOptions]="[10,15]" [showFirstLastButtons]="true">
        </mat-paginator>
    </mat-card>
</div>