<div>
    <label>Customer Details</label>
    <button (click)="showCustomerDetails();">ADD NEW</button>
</div>

<div class="example-container mat-elevation-z8">

    <mat-card style="padding:5px">
        <mat-table #table [dataSource]="dataSource">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let customer"> {{customer.cust_name}} </mat-cell>
            </ng-container>

            <!-- Contact Person Column -->
            <ng-container matColumnDef="contact_person">
                <mat-header-cell *matHeaderCellDef> Contact Person </mat-header-cell>
                <mat-cell *matCellDef="let customer"> {{customer.cust_contact_person}} </mat-cell>
            </ng-container>

            <!-- Contact Column -->
            <ng-container matColumnDef="contact">
                <mat-header-cell *matHeaderCellDef> Contact No. </mat-header-cell>
                <mat-cell *matCellDef="let customer"> {{customer.cust_contact}} </mat-cell>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let customer"> {{customer.cust_email}} </mat-cell>
            </ng-container>

            <!-- Address Column -->
            <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
                <mat-cell *matCellDef="let customer"> {{customer.cust_address}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showCustomerDetails(row)"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSize]="15" [pageSizeOptions]="[15,20]" [showFirstLastButtons]="true">
        </mat-paginator>
    </mat-card>
</div>