<mat-card class="card-css">
    <mat-card-content>
        <div id="print-section">
            <div class="container-css">
                <div align="left" style="width:20%">
                    <img [src]="this.logoImagePath">
                </div>
                <div class="container-vertical-css" style="width:60%">
                    <label style="font: 1.2em sans-serif;">SHUBHAM ENTERPRISES</label>
                    <label style="font: 0.8em sans-serif;">BUILDING MATERIAL SUPPLIERS, JCB AVAILABLE ON RENT</label>
                    <label><b>Office Address - </b>Bodkewadi, Dehugaon, Pune 412109</label>
                    <label><b>Contact No - </b>9922991310/9604039293</label>
                    <label><b>Email - </b>shubham.enterprise1616@gmail.com</label>
                    <label><b>GST No - </b>27CDYPB0443D1ZP</label>
                </div>
                <div align="right" style="width:20%">
                    <img [src]="this.saiLogoImagePath">
                </div>
            </div>
            <mat-divider></mat-divider>
            <div align="center">
                <label><b>Quatation</b></label>
            </div>
            <div class="container-css">
                <div class="container-vertical-css" align="left" style="width:50%">
                    <label>
                    <b>M/S: {{this.customerName}}</b></label>
                    <label>{{this.customerAddress}}</label>
                    <label><b>Contact Person : </b>{{contactPerson}}</label>
                    <label><b>GST No: </b>27ABNFS5898QIZQ</label>
                </div>

                <div class="container-vertical-css" align="right" style="width:50%">
                    <label><b>Quatation Date : </b> {{this.quatationDate}}</label>
                    <label><b>Quatation Number : </b> {{quatationNo}}</label>
                </div>
            </div>

            <p align="center"><b>Subject : </b>Quotation for supply of all types of Stone Metal</p>
            <p><b>Respected Sir/Madam, </b></p>
            <p>Thank you for your inquiry. We are delighted to introduce ourself as pioneer of the Stone Suppliers in Pune District. We are supplier of all types of Stone Metals.</p>
            <p>We like to quote for supplying required material for you as follows - </p>
            <table style="width:100%;border:1">
                <thead>
                    <tr>
                        <th class="input-css">Sr. No.</th>
                        <th class="input-css">Material</th>
                        <th class="input-css">Unit</th>
                        <th class="input-css">Rate</th>
                        <th class="input-css">Description</th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let product of products;let i=index">
                        <td class="input-css">{{i+1}}</td>
                        <td class="input-css">{{product.prod_name}}</td>
                        <td class="input-css">{{product.prod_unit}}</td>
                        <td class="input-css">{{product.prod_rate}}</td>
                        <td class="input-css">{{product.prod_desc}}</td>
                    </tr>
                </tbody>
            </table>
            <p><b>Terms and Conditions:</b></p>
            <p>1. Payment within 15 days from reciept of the bill.<br> 2. Above rates are exclusive of GST charges @5%.</p>
            <p>Please contact us if you have any queries.</p>
            <p>We assure you quantity, quality and genuine service.</p>

            <p>Thanking you.</p>

            <div class="container-vertical-css" align="right">
                <label>Yours faithfully,</label>
                <br>
                <br>
                <label>For <b>Shubham Enterprises</b></label>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="back()">BACK</button>
        <button mat-raised-button color="primary" (click)="printQuatation()">PRINT</button>
    </mat-card-actions>
</mat-card>