<mat-card class="card-css">
    <mat-card-header>
        <mat-card-title>
            <h2>Payment Detail</h2>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content class="container-css">

        <div align="right" style="height: 32px;">
            <img (click)="addNewPaymentDetail();" [src]="this.addImagePath" *ngIf="isFieldDisabled">
        </div>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Payment Date" [(ngModel)]="paymentDate" [disabled]="isFieldDisabled" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-select [(ngModel)]="payeeType" name="payeeType" placeholder="Payee Type" [disabled]="isFieldDisabled" required>
                <mat-option *ngFor="let payeeType of payeeTypes" [value]="payeeType.payee_type" (click)="setPayeeType(payeeType.payee_id)">
                    {{payeeType.payee_type}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select [(ngModel)]="payeeName" name="payeeName" placeholder="Payee Name" [disabled]="isFieldDisabled" required>
                <mat-option *ngFor="let payee of payeeNames" [value]="payee.payee_name" (click)="getPayeeInvoicesList(payee.payee_id)">
                    {{payee.payee_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select [(ngModel)]="payeeInvoiceNo" name="payeeInvoiceNo" placeholder="Payee Invoice No" [disabled]="isFieldDisabled" required>
                <mat-option *ngFor="let payeeInvoice of payeeInvoices" [value]="payeeInvoice.pur_invoice_no" (click)="setPayeeInvoiceDetail(payeeInvoice)">
                    {{payeeInvoice.pur_invoice_no}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" [(ngModel)]="paymentAmount" placeholder="Amount" [disabled]="isFieldDisabled" maxlength="8" required>
        </mat-form-field>

        <mat-form-field>
            <mat-select [(ngModel)]="paymentMode" name="paymentMode" placeholder="Payment Mode" [disabled]="isFieldDisabled" required>
                <mat-option *ngFor="let mode of paymentModes" [value]="mode.payment_mode">
                    {{mode.payment_mode}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="paymentMode != 'Cash'">
            <mat-select [(ngModel)]="paymentAccountNo" name="paymentAccountNo" placeholder="Account Number" [disabled]="isFieldDisabled" required>
                <mat-option *ngFor="let account of accounts" [value]="account.account_number" (click)="setAccountDetail(account)">
                    {{account.account_number}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="paymentMode != 'Cash'">
            <input matInput [(ngModel)]="paymentBankDetails" placeholder="Bank Details" [disabled]="true" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput [(ngModel)]="paymentDesc" placeholder="Payment Description" [disabled]="isFieldDisabled">
        </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addPaymentDetail();">{{buttonLabel}}</button>
        <button mat-raised-button color="primary" (click)="cancelClicked()" [disabled]="isCancelDisabled">CANCEL</button>
        <button mat-raised-button color="primary" (click)="deletePaymentDetail();" [disabled]="isDeleteDisabled">DELETE</button>
    </mat-card-actions>

</mat-card>