<mat-card class="inner-card-css">
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>No.</th>
                <th>Challan No.</th>
                <th>Challan Date</th>
                <th>Vehicle No.</th>
                <th>Material</th>
                <th>Unit</th>
                <th>Measurement</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of invoiceProducts;let i=index">
                <td class="input-text">{{i+1}}</td>
                <td class="input-text">{{product.chal_no}}</td>
                <td class="input-text">{{product.chal_date}}</td>
                <td class="input-text">{{product.veh_number}}</td>
                <td class="input-text">{{product.prod_name}}</td>
                <td class="input-text">{{product.prod_unit}}</td>
                <td class="input-text">{{product.prod_qty}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align:center">
                    Total
                </td>
                <td></td>
                <td style="text-align:center">
                    <b></b>
                </td>
            </tr>
        </tbody>
    </table>
</mat-card>