<mat-card class="inner-card-css">
    <div id="print-section">
        <mat-card-header>
            <mat-card-title>
                <h2>Challan Details</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div style="margin: 16px;">
                <label style="font-weight: bold;font-size: 16px;">Invoice Number - {{ invoiceNumber }}</label> 
                <label style="font-weight: bold;font-size: 16px;margin-left: 32px;">{{ customerName }}, {{ customerAddress }}</label>
            </div>
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Challan No.</th>
                        <th>Challan Date</th>
                        <th>Vehicle No.</th>
                        <th>Material</th>
                        <th>Unit</th>
                        <th>Measurement</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of invoiceProducts;let i=index">
                        <td class="input-text">{{i+1}}</td>
                        <td class="input-text">{{product.chal_date}}</td>
                        <td class="input-text">{{product.chal_no}}</td>
                        <td class="input-text">{{product.veh_number}}</td>
                        <td class="input-text"><span *ngIf=" i != 0 ? invoiceProducts[i-1].prod_id != product.prod_id : true">{{product.prod_name}}</span><br>
                            <span *ngIf="i !=  invoiceProducts.length-1 ? invoiceProducts[i+1].prod_id != product.prod_id : true">
                                <hr> Total </span></td>
                        <td class="input-text"><span *ngIf=" i != 0 ? invoiceProducts[i-1].prod_id != product.prod_id : true">{{product.prod_unit}}</span>
                        </td>
                        <td class="input-text">{{product.prod_qty}}<br>
                            <span *ngIf="i !=  invoiceProducts.length-1 ? invoiceProducts[i+1].prod_id != product.prod_id : true">
                                <hr> {{product.prod_total_qty}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </div>
    <mat-card-actions style="margin: 8px;">
        <button mat-raised-button color="primary" (click)="back()">BACK</button>
        <button mat-raised-button color="primary" (click)="printChallan()">PRINT</button>
    </mat-card-actions>
</mat-card>