<mat-card class="card-css">
  <mat-card-header>
    <mat-card-title>
      <h2>GST</h2>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="container-css">

    <div align="right">
      <img (click)="addNewGSTDetail();" [src]="this.addImagePath">
    </div>

    <mat-form-field>
      <input matInput [(ngModel)]="gstHSN" placeholder="HSN Code" [disabled]= "isFieldDisabled" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" [(ngModel)]="gstPercentage" placeholder="Percentage" [disabled]= "isFieldDisabled" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="gstDesc" placeholder="Description" [disabled]= "isFieldDisabled">
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addGSTDetail();">{{buttonLabel}}</button>
    <button mat-raised-button color="primary" (click)="cancelClicked()" [disabled]="isCancelDisabled">CANCEL</button>
    <button mat-raised-button color="primary" (click)="deleteGSTDetail();" [disabled]="isDeleteDisabled">DELETE</button>
  </mat-card-actions>

</mat-card>