.container-css {
    display: flex;
    flex-direction: column;
  }
  
  .container-css > * {
    width: 100%;
  }
  
  .card-css{
    max-width: 100%;
  }
  
  .inner-card-css{
    max-width:100%;
    padding: 8px;
  }
  
  .input-padding{
    padding: 8px;
  }

  .input-css{
    padding: 8px;
    text-align: center;
  }
  
  .table-form-field {
     width: 72px !important;
     padding: 8px;
  }

  .table-form-wide-field {
    width: 100px !important;
    padding: 8px;
    text-align: center;
  }