<mat-card class="card-css">
    <mat-card-header>
        <mat-card-title>
            <h2>Add Purchase Detail</h2>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content class="container-css">

        <div align="right" style="height: 32px;">
            <img (click)="addNewPurchase();" [src]="this.addImagePath" *ngIf="isFieldDisabled">
        </div>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Purchase Date" [(ngModel)]="purchaseDate" [disabled]="isFieldDisabled">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput [(ngModel)]="purchaseInvoiceNo" placeholder="Purchase Invoice Number" [disabled]="isFieldDisabled" required>
        </mat-form-field>

        <mat-form-field>
            <mat-select [(ngModel)]="vendorName" name="vendorName" placeholder="Supplier Name" [disabled]="isFieldDisabled" required>
                <mat-option *ngFor="let vendor of vendors" [value]="vendor.vend_name" (click)="setVendorDetail(vendor)">
                    {{vendor.vend_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput [(ngModel)]="vendorAddress" placeholder="Address" [disabled]="true" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput [(ngModel)]="contactPerson" placeholder="Contact Person" [disabled]="true" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" [(ngModel)]="contactNo" placeholder="Contact Number" [disabled]="true" maxlength="10" required>
        </mat-form-field>

        <mat-card class="inner-card-css">

            <table style="width: 100%;">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Challan No.</th>
                        <th>Challan Date</th>
                        <th>Vehicle No.</th>
                        <th>Material</th>
                        <th>HSN Code</th>
                        <th>Unit</th>
                        <th>Rate</th>
                        <th>Msr. Total</th>
                        <th>Sub Total</th>
                        <th>Tax</th>
                        <th>Total</th>
                    </tr>
                    <tr *ngIf="!isFieldDisabled">
                        <th>
                        </th>
                        <th>
                            <mat-form-field class="table-form-field">
                                <input matInput [(ngModel)]="challanNumber" required />
                            </mat-form-field>
                        </th>
                        <th>
                            <mat-form-field class="table-form-field">
                                <input matInput [matDatepicker]="picker" [(ngModel)]="challanDate" [disabled]="isFieldDisabled">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </th>
                        <th>
                            <mat-form-field class="table-form-field">
                                <input matInput [(ngModel)]="vehicleNo" maxlength="10" required />
                            </mat-form-field>
                        </th>
                        <th>
                            <mat-form-field class="table-form-wide-field">
                                <mat-select [(ngModel)]="productName" name="productName">
                                    <mat-option *ngFor="let product of products" [value]="product.prod_name" (click)="setProductDetail(product)">
                                        {{product.prod_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </th>
                        <th>
                            <mat-form-field class="table-form-field">
                                <input matInput [(ngModel)]="productHSN" maxlength="8" required>
                            </mat-form-field>
                        </th>
                        <th>
                            <mat-form-field class="table-form-field">
                                <input matInput [(ngModel)]="productUnit" required>
                            </mat-form-field>
                        </th>
                        <th>
                            <mat-form-field class="table-form-field">
                                <input matInput type="number" [(ngModel)]="productRate" (ngModelChange)="calculateSubTotal($event)" maxlength="8" required>
                            </mat-form-field>
                        </th>
                        <th>
                            <mat-form-field class="table-form-field">
                                <input matInput type="number" [(ngModel)]="productQuantity" step="0.10" (ngModelChange)="calculateSubTotal($event)" maxlength="8" required>
                            </mat-form-field>
                        </th>
                        <th>
                            <mat-form-field class="table-form-field">
                                <input matInput type="number" [(ngModel)]="productSubTotalAmount" (ngModelChange)="calculateTaxAmount()" disabled="true" maxlength="8" required>
                            </mat-form-field>
                        </th>
                        <th>
                            <mat-form-field class="table-form-field">
                                <input matInput type="number" [(ngModel)]="productTaxAmount" maxlength="8" disabled="true" required>
                            </mat-form-field>
                        </th>
                        <th>
                            <mat-form-field class="table-form-field">
                                <input matInput type="number" [(ngModel)]="productTotalAmount" maxlength="8" disabled="true" required>
                            </mat-form-field>
                        </th>
                        <th>
                            <img (click)="addProduct();" [src]="this.addImagePath">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of localProductList;let i=index">
                        <td class="input-css">{{i+1}}</td>
                        <td class="input-css">{{product.pur_chal_no}}</td>
                        <td class="input-css">{{product.pur_chal_date}}</td>
                        <td class="input-css">{{product.pur_veh_no}}</td>
                        <td class="input-css">{{product.pur_prod_name}}</td>
                        <td class="input-css">{{product.pur_prod_hsn}}</td>
                        <td class="input-css">{{product.pur_prod_unit}}</td>
                        <td class="input-css">{{product.pur_prod_rate}}</td>
                        <td class="input-css">{{product.pur_prod_qty}}</td>
                        <td class="input-css">{{product.pur_prod_subtotal}}</td>
                        <td class="input-css">{{product.pur_prod_tax}}</td>
                        <td class="input-css">{{product.pur_prod_total}}</td>
                        <td *ngIf="!isFieldDisabled">
                            <img (click)="removeProduct(product)" [src]="this.removeImagePath">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <hr>
                        </td>
                        <td>
                            <hr>
                        </td>
                        <td>
                            <hr>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align:center">
                            <b>{{(subTotalAmount).toFixed(2)}}</b>
                        </td>
                        <td style="text-align:center">
                            <b>{{(taxTotalAmount).toFixed(2)}}</b>
                            <td style="text-align:center">
                                <b>{{(totalPurchaseAmount).toFixed(2)}}</b>
                            </td>
                            <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align:center">
                            Round off</td>
                        <td></td>
                        <td style="text-align:center">
                            <span *ngIf="isFieldDisabled">{{roundOffAmount}}</span>
                            <span *ngIf="!isFieldDisabled">
                                <mat-form-field class="table-form-field" style="text-align:right">
                                    <input matInput type="number" [(ngModel)]="roundOffAmount" maxlength="3"
                                        (change)="calculateNetTotal()" step="0.10" required>
                                </mat-form-field>
                            </span>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align:center">
                            <b>Net Total</b></td>
                        <td></td>
                        <td style="text-align:center">
                            <b>{{(netTotalAmount).toFixed(2)}}</b>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <!-- <div class="container-css">
                <p align="left" style="width:60%">
                    <b>Bill Period From:</b> {{this.minChallanDate}} To: {{this.maxChallanDate}}</p>
            </div> -->
        </mat-card>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addPurchase()">{{buttonLabel}}</button>
        <button mat-raised-button color="primary" (click)="cancelClicked()" [disabled]="isCancelDisabled">CANCEL</button>
        <!-- <button mat-raised-button color="primary" (click)="printPurchaseDetail()" [disabled]="!isCancelDisabled">PRINT</button> -->
    </mat-card-actions>
</mat-card>