<div class="container-horizontal">
    <div>
        <mat-card class="container-vertical">
            <mat-card-header>
                <mat-card-title>
                    <h2>Purchase</h2>
                </mat-card-title>
            </mat-card-header>
            <label>Today's Sale</label>
            <label>Monthly Purchase</label>
            <label>Total Purchase</label>
        </mat-card>
    </div>
    <div>
        <mat-card class="container-vertical">
            <mat-card-header>
                <mat-card-title>
                    <h2>Sale</h2>
                </mat-card-title>
            </mat-card-header>
            <label>Today's Sale</label>
            <label>Monthly Sale</label>
            <label>Total Sale</label>
        </mat-card>
    </div>
</div>