.container-css {
    display: flex;
    flex-direction: column;
}

.container-css>* {
    width: 100%;
}

.card-css {
    max-width: 100%;
}

.inner-card-css {
    max-width: 100%;
    padding: 8px;
}

.input-text {
    padding: 12px;
    text-align: center;
}

.input-amount {
    padding: 12px;
    text-align: right;
}

.table-form-field {
    width: 72px !important;
    padding: 8px;
}

.table-form-med-field {
    width: 84px !important;
    padding: 8px;
}

.table-form-wide-field {
    width: 120px !important;
    padding: 8px;
    text-align: left;
}