<mat-card class="card-css">
    <mat-card-header>
        <mat-card-title>
            <h2>Create Invoice</h2>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content class="container-css">
        <div *ngIf="isWithoutTaxCheckVisible"><input type="checkbox" [checked]="isWithoutTax" (change)="changeTaxSelection();" style="padding-left: 12px;">Without Tax
        </div>
        <div align="right" style="height: 32px;">
            <img (click)="addNewInvoice();" [src]="this.addImagePath" *ngIf="isFieldDisabled">
        </div>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Invoice Date" [(ngModel)]="invoiceDate" [disabled]="isFieldDisabled">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-select [(ngModel)]="customerName" name="customerName" placeholder="Customer Name" [disabled]="isFieldDisabled" required>
                <mat-option *ngFor="let customer of customers" [value]="customer.cust_name" (click)="setCustomerDetail(customer)">
                    {{customer.cust_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput [(ngModel)]="customerAddress" placeholder="Address" [disabled]="true" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput [(ngModel)]="contactPerson" placeholder="Contact Person" [disabled]="true" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" [(ngModel)]="contactNo" placeholder="Contact Number" [disabled]="true" maxlength="10" required>
        </mat-form-field>

        <mat-card class="inner-card-css">
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Challan No.</th>
                        <th>Challan Date</th>
                        <th>Vehicle No.</th>
                        <th>Material</th>
                        <th>HSN Code</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                        <th>Sub Total</th>
                        <th *ngIf="!isWithoutTax">Tax</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                    <tr *ngIf="!isFieldDisabled">
                        <th class="input-text">
                        </th>
                        <th>
                            <form (keydown)="keyDownFunction($event)">
                                <mat-form-field class="table-form-field">
                                    <mat-select [(ngModel)]="challanNo" name="challanNo">
                                        <mat-option *ngFor="let challan of tempChallanList" [value]="challan.chal_no" (click)="setChallanDetail(challan)">
                                            {{challan.chal_no}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </form>
                        </th>
                        <th>
                            <mat-form-field class="table-form-med-field">
                                <input matInput [matDatepicker]="picker" [(ngModel)]="challanDate" [disabled]="true">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </th>
                        <th>
                            <mat-form-field class="table-form-field">
                                <input matInput [(ngModel)]="vehicleNo" [disabled]="true" maxlength="10" required />
                            </mat-form-field>
                        </th>
                        <th>
                            <mat-form-field class="table-form-wide-field">
                                <mat-select [(ngModel)]="productName" name="productName" [disabled]="true">
                                    <mat-option *ngFor="let product of products" [value]="product.prod_name" (click)="setProductDetail(product)">
                                        {{product.prod_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </th>
                        <th>
                            <mat-form-field class="table-form-field">
                                <mat-select [(ngModel)]="productHSN" name="productHSN" [disabled]="true">
                                    <mat-option *ngFor="let gst of gstDetails" [value]="gst.gst_hsn" (click)="setGSTDetail(gst)">
                                        {{gst.gst_hsn}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </th>
                        <th>
                            <mat-form-field class="table-form-field">
                                <input matInput [(ngModel)]="productUnit" [disabled]="true" required>
                            </mat-form-field>
                        </th>
                        <th>
                            <mat-form-field class="table-form-field">
                                <input matInput type="number" [(ngModel)]="productQuantity" (ngModelChange)="productName == 'JCB' ? calculateForJCB() : calculateSubTotal()" maxlength="6" required>
                            </mat-form-field>
                        </th>
                        <th>
                            <mat-form-field class="table-form-field">
                                <input matInput type="number" [(ngModel)]="productRate" (ngModelChange)="productName == 'JCB' ? calculateForJCB() : calculateSubTotal()" maxlength="8" required>
                            </mat-form-field>
                        </th>
                        <th>
                            <mat-form-field class="table-form-field">
                                <input matInput type="number" [(ngModel)]="productSubTotalAmount" maxlength="8" (ngModelChange)="calculateTaxAmount()" [disabled]="true" required>
                            </mat-form-field>
                        </th>
                        <th *ngIf="!isWithoutTax">
                            <mat-form-field class="table-form-field">
                                <input matInput type="number" [(ngModel)]="productTaxAmount" maxlength="8" [disabled]="true" required>
                            </mat-form-field>
                        </th>
                        <th>
                            <mat-form-field class="table-form-field">
                                <input matInput type="number" [(ngModel)]="productTotalAmount" maxlength="8" [disabled]="true" required>
                            </mat-form-field>
                        </th>
                        <th>
                            <img (click)="addProduct();" [src]="this.addImagePath">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of localProductList;let i=index">
                        <td class="input-text">{{i+1}}</td>
                        <td class="input-text">{{product.chal_no}}</td>
                        <td class="input-text">{{product.chal_date}}</td>
                        <td class="input-text">{{product.veh_number}}</td>
                        <td class="input-text">{{product.prod_name}}</td>
                        <td class="input-text">{{product.prod_hsn}}</td>
                        <td class="input-text">{{product.prod_unit}}</td>
                        <td class="input-text">{{product.prod_qty}}</td>
                        <td class="input-text">{{product.prod_rate}}</td>
                        <td class="input-text">{{(product.prod_sub_total).toFixed(2)}}</td>
                        <td class="input-text" *ngIf="!isWithoutTax">{{(product.prod_tax).toFixed(2)}}</td>
                        <td class="input-text">{{(product.prod_total_amount).toFixed(2)}}</td>
                        <td *ngIf="!isFieldDisabled">
                            <img (click)="removeProduct(product)" [src]="this.removeImagePath">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align:center">
                            <b>{{(subTotalAmount).toFixed(2)}}</b>
                        </td>
                        <td style="text-align:center" *ngIf="!isWithoutTax">
                            <b>{{(taxTotalAmount).toFixed(2)}}</b>
                        </td>
                        <td style="text-align:center">
                            <b>{{(totalInvoiceAmount).toFixed(2)}}</b>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align:center">
                            Round off</td>
                        <td></td>
                        <td style="text-align:center" *ngIf="!isFieldDisabled">
                            <mat-form-field class="table-form-field" style="text-align:right">
                                <input matInput type="number" [(ngModel)]="roundOffAmount" maxlength="3" (blur)="calculateNetTotal()" step="0.10" required>
                            </mat-form-field>
                        </td>
                        <td style="text-align:center" *ngIf="isFieldDisabled">{{roundOffAmount}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align:center">
                            <b>Net Total</b></td>
                        <td></td>
                        <td style="text-align:center">
                            <b>{{(netTotalAmount).toFixed(2)}}</b>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </mat-card>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="createInvoice()">{{buttonLabel}}</button>
        <button mat-raised-button color="primary" (click)="cancelClicked()" [disabled]="isCancelDisabled">CANCEL</button>
        <button mat-raised-button color="primary" (click)="printInvoiceDetail()">PRINT</button>
        <button mat-raised-button color="primary" (click)="printChallanStatement()" *ngIf="localProductList.length > 5">CHALLAN STATEMENT</button>
    </mat-card-actions>
</mat-card>